@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:focus,
*:hover {
  outline: none;
}

html {
  font-size: 75%;
}

/* Medium-sized screens (768px and above) */
@media (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

/* Large screens (992px and above) */
@media (min-width: 1024px) {
  html {
    font-size: 85%;
  }
}

/* Extra-large screens (1200px and above) */
@media (min-width: 1536px) {
  html {
    font-size: 100%;
  }
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer utilities {
  *::-webkit-scrollbar {
    @apply w-3 h-3 opacity-0 transition-all duration-150;
  }

  *::-webkit-scrollbar:hover {
    @apply opacity-100;
  }
  .scrollbar-small::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  *::-webkit-scrollbar-track {
    @apply rounded-full bg-slate-100 dark:bg-slate-700;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-300 dark:bg-slate-600;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-500;
  }
}

@layer utilities {
  .triangle-clip {
    clip-path: polygon(0% 0%, 100% 0, 50% 100%);
  }
}
